<div id="authentication">
    <div class="container">
        <div class="row  vh-100 d-flex align-items-center justify-content-center ">
            <div class="col-md-6 col-lg-4">
                <mat-card>
                    <div class="main-form">
                        <div class="logo">
                            <!-- <img src="assets/images/logo_header.png" alt=""> -->
                            <h1 class="logo_text">Get Buddy</h1>
                        </div>
                        <div class="mt-4">
                          <form>
                           <div class="form-heading">
                                <h3>Forgot Password</h3>
                                <br>
                                <p>Enter your registered email ID here </p>
                            </div>
                            <!-- <mat-label>Email</mat-label> -->
                            <mat-form-field class="w-100" appearance="outline">
                                <input matInput placeholder="Enter email">
                            </mat-form-field>
                            <div class="form-button m-0">
                                <button mat-flat-button color="primary" routerLink="/login" >Send Link</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>