<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <div class="logo">
                <!-- <img src="assets/images/header-logo.png" alt="Company Logo"> -->
                <h1 class="logo_text">Gut Buddy</h1>
            </div>
        </mat-toolbar>
      
        <app-sidenav></app-sidenav>

    </mat-sidenav>
    <mat-sidenav-content>
      
        <mat-toolbar class="header-mat">
            <mat-toolbar-row class="justify-content-between">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                  </button>
                <div class="left-side-button">
                    <div class="left-button" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="me-1">account_circle</mat-icon>
                        <span class="username">Admin</span>
                        <mat-icon>arrow_drop_down</mat-icon>
                    </div>
                </div>
                <mat-menu #menu="matMenu">

                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>Edit Profile</span>
                    </button>


                    <button mat-menu-item >
                      <mat-icon>exit_to_app</mat-icon>
                      <span (click) = "logout()">Logout</span>
                    </button>



                </mat-menu>
            </mat-toolbar-row>







        </mat-toolbar>







        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>