<mat-nav-list>



  <!-- <mat-divider></mat-divider> -->
  <div class="sidnav-list">
    <a mat-list-item routerLink="/home/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item class="sidenav-item userNav" routerLink="/home/user-mgmt" routerLinkActive="active">
        <mat-icon>group</mat-icon> User Management
    </a>

    
    
    
<!-- 
      <a mat-list-item routerLink="/home/manage-driver" routerLinkActive="active">
          <mat-icon>time_to_leave</mat-icon> My Drivers
      </a>

      <a mat-list-item routerLink="/home/manage-driver-freelancer" routerLinkActive="active">
          <mat-icon>time_to_leave</mat-icon> Freelancer Drivers
      </a>

      <a mat-list-item routerLink="/home/manage-driver-dispatcher" routerLinkActive="active">
          <mat-icon>time_to_leave</mat-icon> Dispatcher Drivers
      </a>

      <a mat-list-item routerLink="/home/dispatcher-mgmt" routerLinkActive="active">
          <mat-icon>local_shipping</mat-icon> Dispatcher Management
      </a> -->

     



  </div>
</mat-nav-list>